<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diaper History</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="apple-touch-icon" href="images/claire-iphone-icon.png"/>
</head>
<body>
    <%- include('includes/navigation'); %>
    <div class="table-data">
<h2>Claire's Diaper History</h2>
    <div class="table">
        <div class="row">
            <div class="cell title middle center">Date</div>
            <div class="cell title middle center">Pee</div>
            <div class="cell title middle center">Poop</div>
            <div class="cell title middle center">Diaper Size</div>
        </div>

        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>

        <div class="row">
            <div class="cell data top center"><%=data.date; %></div>
            <div class="cell data top center"><%=data.pee %></div>
            <div class="cell data top center"><%=data.poop %></div>
            <div class="cell data top center"><%=data.diaper_size %></div>
        </div>
        <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="6">No Data Found</td>
        </tr>
    <% } %>
    </div>
    </div>
</body>
</html>