<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diaper History</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="apple-touch-icon" href="images/claire-iphone-icon.png"/>
    <link rel="icon" type="image/png" href="images/claire-iphone-icon.png"/>
</head>
<body>
    <%- include('includes/navigation'); %>
    <div class="table-data">
<h2>Claire's Diaper History</h2>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Pee</th>
        <th>Poop</th>
        <th>Diaper Size</th>
    </tr>
    
    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(data){
    %>
    <tr>
        <td><%=data.date; %></td>
        <td><%=data.pee %></td>
        <td><%=data.poop %></td>
        <td><%=data.diaper_size %></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="6">No Data Found</td>
        </tr>
    <% } %>
</table>
    </div>
</body>
</html>