<!DOCTYPE html>
<html lang="en">
<head>
  <title>Diaper Inventory</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="apple-touch-icon" href="images/claire-iphone-icon.png"/>
</head>
<body>
    <%- include('includes/navigation'); %>
    <div class="table-data">
<h2>Claire's Diaper Inventory</h2>
    <table border="1">
        <tr>
            <th>Type</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Quantity</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.size; %></td>
            <td><%=data.name %></td>
            <td><%=data.weight %></td>
            <td><%=data.quantity %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
        <% } %>
    </table>
    <h2>Use a Diaper</h2>
<div class="use-diaper"> 
    <form method="post" action="use-diaper" name="use-diaper" id="use-diaper">
        <p>
            <label for="size">Diaper Size:</label>
            <select id="size" name="size">
                <option value="0">Newborn</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </p>
        <p>
            <label for="pee">Pee?</label>
            <input type="checkbox" name="pee" id="pee" value="yes" />
        </p>
        <p>
            <label for="ounces">Poop?</label>
            <input type="checkbox" name="poop" id="poop" value="yes" />
        </p>
        <button type="submit">Submit Diaper Change</button>
    </form>
</div>
    </div>
</body>
</html>