<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milk Inventory</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="apple-touch-icon" href="images/claire-iphone-icon.png" />
    <link rel="icon" type="image/png" href="images/claire-iphone-icon.png" />
</head>

<body>
    <% var totalMilk=0; %>
        <%- include('includes/navigation'); %>
            <div class="table-data">
                <h2>Milk Pump</h2>
                <div class="use-diaper">
                    <form method="post" action="post-milk" name="post-milk" id="post-milk">
                        <p>
                            <label for="ounces">Ounces Pumped:</label>
                            <input type="number" id="onces" name="ounces">
                        </p>
                        <p>
                            <label for="timeframe">Timeframe:</label>
                            <select id="timeframe" name="timeframe">
                                <option value="morning">Morning</option>
                                <option value="afternoon">Afternoon</option>
                                <option value="evening">Evening</option>
                                <option value="night">Night</option>
                            </select>
                        </p>
                        <p>
                            <label for="device">Pump:</label>
                            <select id="device" name="device">
                                <option value="hand">Hand Pump</option>
                                <option value="electric">Electric Pump</option>
                                <option value="feed">Feed</option>
                            </select>
                        </p>
                        <p>
                            <label for="notes">Notes:</label>
                            <input type="text" id="notes" name="notes">
                        </p>
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <h2>Claire's Milk Inventory</h2>
                <table border="1">
                    <tr>
                        <th>Date</th>
                        <th>Oz</th>
                        <th>Time</th>
                        <th>Pump</th>
                        <th>Notes</th>
                    </tr>

                    <% var i=1; userData.forEach(function(data){ %>
                        <tr>
                            <td>
                                <%=data.date; %>
                            </td>
                            <td>
                                <%=data.amount %>
                            </td>
                            <td>
                                <%=data.timeframe %>
                            </td>
                            <td>
                                <%=data.device %>
                            </td>
                            <td>
                                <%=data.notes %>
                            </td>
                        </tr>
                        <% totalMilk=totalMilk + data.amount; }); %>
                </table>
                <div>
                    <h1>Total Milk: <%=totalMilk %> oz</h1>
                </div>
            </div>
</body>

</html>